{% extends "base.html" %}
{% block content %}
<section class="page-hero">
    <div class="container">
        <span class="eyebrow">Emergencia</span>
        <h2>Transmitir emergencia en vivo</h2>
        <p style="text-align: justify;">En esta sección es posible hacer una transmisión en vivo, de un eventual <b><span style="color: #5CCCF5;">delito</span></b>.</p>
    </div>
</section>
<section class="section">
    <div class="container cards cards-2">
        <article class="card">
            <h3>Transmisión Ciudadana</h3>
            <ul>
                <li>Detección de personas</li>
                <li>Conteo de personas</li>
                <li>Alertas por eventos</li>
            </ul>
            <!-- <div class="hero-img">
                <img class="image" src="../static/img/incabit-solutions-transport.png" />
            </div> -->
        </article>
        <article class="card">
            <h3>Transmisión Municipal</h3>
            <ul>
                <li>Conteo de personas</li>
                <li>Detección de objetos</li>
                <li>Merodeo e intrusión de ladrones</li>
            </ul>
            <!-- <div class="hero-img">
                <img class="image" src="../static/img/incabit-solutions-security.png" />
            </div> -->
        </article>
    </div>
    
    <!-- <div class="container cards cards-2">
        <article class="card"><h3>Analítica predictiva</h3><ul><li>Patrones de conducta</li><li>Predicción de acciones probables</li><li>Alertas tempranas</li><li>Apoyo a centros de monitoreo</li></ul></article>
    </div> -->
    
</section>
{% endblock %}
